<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("../partials/head")%>
    
</head>

<body>
    
    <%- include("../partials/header")%>
    
    <div class="container">
        <div class="row">
            
            <h4 class="col-12">Listado de Categorias</h4>
            
            <% for(let i = 0; i < categorias.length; i++){ %>
            <section class="col-12 col-sm-6 col-md-4 col-lg-3">
                <article>

                    <h6> ID: <%= categorias[i].id %> </h6>       
                    <h6> Nombre: <%= categorias[i].name %> </h6>

                </article>

                <article>

                    <a href="/products/categories/editCategory/<%= categorias[i].id %>"><button type="button" class="btn btn-outline-success btn-sm">Modificar</button></a>
                    <a href="/products/categories/deleteCategory/<%= categorias[i].id %>"><button type="button" class="btn btn-outline-success btn-sm">Eliminar</button></a>

                </article>
                
            </section>
            <% } %>

            <br>
            <a href="/products">Ir a la lista de producto</a>
                        
            
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row">

            <a href="/products/categories/newCategory"><button type="button" class="btn btn-outline-success btn-sm">Agregar nueva categoria</button></a>
                            
        
        </div>
    </div>
    
    <%- include("../partials/footer")%>
    
    <%- include("../partials/scripts")%>
    
</body>

</html>