<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("../partials/head")%>
    
</head>

<body>
    
    <%- include("../partials/header")%>
    
    <div class="container">
        <div class="row">
            
            <h4 class="col-12">Listado de Categorias</h4>
            
            <% for(let i = 0; i < categorias.length; i++){ %>
                
                    <ul class="list-group-flush">
                        <li class="list-group"><%= categorias[i].name %>
                            
                            <div class="btn-group" role="group" aria-label="Basic example">
                                
                                <a href="/products/categories/editCategory/<%= categorias[i].id %>"><button type="button" style='margin-left: 150px; margin-bottom: 9px;' class="btn btn-sm btn-success">Modificar</button></a>
                                
                                <a href="/products/categories/deleteCategory/<%= categorias[i].id %>"><button type="button" class="btn btn-sm btn-success">Eliminar</button></a>
                                
                            </div>
                            
                        </li>  
                    </ul>
                
                
                <% } %>
                
                
                <a href="/products">Ir a la lista de producto</a>
                
                
            </div>
        </div>
        <br>
        
        <div class="container">
            <div class="row">
                
                <a href="/products/categories/newCategory"><button type="button" class="btn btn-outline-success btn-sm">Agregar nueva categoria</button></a>
                
                
            </div>
        </div>
        
        <%- include("../partials/footer")%>
        
        <%- include("../partials/scripts")%>
        
    </body>
    
    </html>