<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("../partials/head")%>
    
</head>

<body>
    
    <%- include("../partials/header")%>
    
    <div class="container">
        <div class="row">
            
            <h4 class="col-12">Listado de Colores</h4>
            
            <% for(let i = 0; i < colores.length; i++){ %>
            <section class="col-12 col-sm-6 col-md-4 col-lg-3">
                <article>

                    <h6> ID: <%= colores[i].id %> </h6>       
                    <h6> Nombre: <%= colores[i].name %> </h6>

                </article>

                <article>

                    <a href="/products/colors/editColor/<%= colores[i].id %>"><button type="button" class="btn btn-success btn-sm">Modificar</button></a>
                    <a href="/products/colors/deleteColor/<%= colores[i].id %>"><button type="button" class="btn btn-success btn-sm">Eliminar</button></a>

                </article>
                
            </section>               
            <% } %>

            <div>
                <a href="/products">Ir a la lista de producto</a>
            </div>
            
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row">

            <a href="/products/colors/newColor"><button type="button" class="btn btn-outline-success btn-sm">Agregar color nuevo</button></a>
                            
        
        </div>
    </div>
    
    <%- include("../partials/footer")%>
    
    <%- include("../partials/scripts")%>
    
</body>

</html>