<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include("../partials/head")%>

  </head>
  
  <body>
    
    <%- include("../partials/header")%>

    <form action="/products/categories/deleteCategory/<%= categoria.id %>?_method=DELETE" method="POST">
        <h1>Desea eliminar la categoria: </h1>

        <h2><%= categoria.name %></h2>
        

        <input type="submit" value="SI">
        <input type="button" value="NO" onClick="history.go(-1);">
    </form>

    <%- include("../partials/footer")%>

    <%- include("../partials/scripts")%>

  </body>

</html>