<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include("../partials/head")%>
    
    </head>

    <body>

        <%- include("../partials/header")%>

        <div class="container">

            <div class="row fila1">

                <section class="col-12 col-md-6 imagenes">
                    <img class="col-9 imagenPrincipal img-thumbnail" src="/images/products/<%= producto.image %>">
                </section>
            
                <form method="GET" action="" class="col-12 col-md-6 datosPrincipales">
                    <h5><%= producto.name %></h5>
                    <h2 class="precio">$ <%= producto.price %></h2>
                    
                    
                    <div class="cant">
                        <label for="stock">Cantidad:</label>
                        <input class="col-2" type="number" min="1" value="1" max="<%= producto.stock %>" name="stock">
                    </div>
                    <div>
                        <label for="category">Categoria: </label>
                        <label><%= producto.categoriaDelProducto.name %></label>
                    </div>
                    <div>
                        <label for="color">Color: </label>
                        <label><%= producto.colorDelProducto.name %></label>
                    </div>
                    <div class="botones">
                        <form id='carrito'>
                            <input type="hidden" value="<%= producto[i].id %>" id="" name="id_producto">
                            <button class="btn btn-success" type="submit">+ Agregar al carrito</button>
                          </form> 
                    </div>
                    <div >
                        <img class="mediosPago img-fluid" src="/images/FormasPago.jpg">
                    </div>
                </form>

            </div>

            <div class="row fila2">

                
          
                    <section class="col-12 col-md-6 especificaciones">
                        <h5><%= producto.description %></h5>
                        <% if(typeof locals.esAdmin != 'undefined' && locals.esAdmin == 1){ %>
                        <a href="/products/editProduct/<%= producto.id %>">Editar Producto</a>
                        <br>
                        <a href="/products/deleteProduct/<%= producto.id %>">Eliminar Producto</a>
                        <br>
                        <a href="/products">Ir a la lista de productos</a>
                        <% } %> 
                    </section>
          
                  
                

                <section class="col-12 col-md-6 tambien">
                    <h4>Tambien podria interesarte</h4>

                    <article class="articulosTambien">
                    
                    <% for (let i = 0; i < 2; i++) { %>
                     
                        <a href="/products/detailProduct/<%= productos[i].id %>">
                            <article class="col-12 col-md-6 articuloTambien">
                                <img class="imagenSecundaria img-thumbnail" src="/images/products/<%= productos[i].image %>">
                                <h5><%= productos[i].name %></h5>
                                <h6><%= productos[i].price %></h6>
                            </article>
                        </a>
                    <% } %>
                    </article>

                </section>

            </div>

        </div>    

        <%- include("../partials/footer")%>

        <%- include("../partials/scripts")%>

    </body>

</html>