<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include("../partials/head")%>

    </head>

    <body>

        <%- include("../partials/header")%>
        
        <div class="container containerRegistration">
            <div class="login-container">
                
                <div class="register">

                    <h4>Edite el color</h4>
                    
                    <form id='editarColor' action="/products/colors/editColor/<%= color.id %>?_method=PUT" method="POST">

                        <input type="text" placeholder="Escribí el nombre del color" class="nombre" name="name" value="<%= color.name %>">

                        <input type="submit" class="submit" value="Modificar">
                        <br>
                        <br>
                    </form>
                    <a href="/products/colors"><button>Cancelar</button></a>
                </div>
            </div>
        </div>

        <script src="/javascripts/editColorOK.js"></script>

        <%- include("../partials/footer")%>
        
        <%- include("../partials/scripts")%>
        
    </body>

</html>