<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include("../partials/head")%>

  </head>
  
  <body>
    
    <%- include("../partials/header")%>

    <section>
        <div class="container products-wrapper">
            <div class="row">
                <div class="col-12 title">
                    <h4 class="products-title">Formulario de edicion de producto</h4>
                </div>
            </div>
            <div class="col-12">
                <form action="/products/editProduct/<%= producto.id %>?_method=PUT" method="POST">
                    <div class="row product-detail">
                        <div class="col-12 col-md-6">
                            <label for="name" class="form-label">Nombre del producto:</label>
                            <input type="text" id="name" name="name" class="form-input" value="<%= producto.name %>">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="price" class="form-label">Precio del producto:</label>
                        <input type="text" id="price" name="price" class="form-input" value="<%= producto.price %>">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="category" class="form-label">Categoría:</label>
                            <select name="category" id="category" class="form-input">
                                <option value="bazar">Bazar</option>
                                <option value="deco">Deco</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="color" class="form-label">Color:</label>
                            <select name="color" id="color" class="form-input"  >
                                <option value="unico">Unico</option>
                                <option value="multiple">Multiple</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="description" class="form-label">Descripción:</label>
                            <textarea name="description" id="description" class="form-input" placeholder="Decribí tu producto..." ><%= producto.description %></textarea>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="stock">Cantidad</label>
                            <input class="form-input" type="number" min="1" value="<%= producto.stock %>" name="stock">
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Elegí las fotos del producto:</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="imagen">
                            </div>
                        </form>
                        <div class="col-12" class="botonGuardar">
                            <button type="submit" class="buy-now-button">Editar producto</button>
                            <button type="button" class="buy-now-button" onClick="history.go(-1);">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>        
        </div>
    </section>

    <%- include("../partials/footer")%>

    <%- include("../partials/scripts")%>

    </body>

</html>