<!DOCTYPE html>
<html lang="en">

<head>
  
  <%- include("../partials/head")%>
  
</head>

<body>
  
  <%- include("../partials/header")%>    
  
  <div class="container">
    <div class="row productos">
      
      <div class="col-12" style='margin-bottom: 10px;'>
        <h4> Listado de productos</h4>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/products/newProduct"><button type="button" class="btn btn-success btn-sm">Alta de Producto</button></a>
          <a href="/products/categories"><button type="button" class="btn btn-success btn-sm">Categorias</button></a>
          <a href="/products/colors"><button type="button" class="btn btn-success btn-sm">Colores</button></a>
        </div>

      </div>
      
      
      <% for(let i = 0; i < producto.length; i++){ %>
        <a href="/products/detailProduct/<%= producto[i].id %>">
        <div class="card col-3 border-light" style="width: 18em">
          <img src="images/products/<%= producto[i].image %>" class="card-img-top" alt="">
          <div class="card-body">
            <h6 class="card-title" style="color:black;font-size: 16px;"><%= producto[i].name %></h6>
            <p style="color:black;font-size: 20px;">$ <%= producto[i].price %></p>            
            <a></a>
            <form id='carrito'>
              <input type="hidden" value="<%= producto[i].id %>" id="" name="id_producto">
              <button class="btn btn-success" style="font-size: 15px;" type="submit">+ Agregar al carrito</button>
            </form>           
          </div>
        </div>
        </a>
        
        <% } %> 
        
      </div>
      <a href="" onclick="window.scroll(0,0);"><button class="btn btn-success" style="font-size: 15px; margin-bottom: 5px;">Volver hacia arriba</button></a>
    </div>

    <script src="/javascripts/cart.js"></script>
   
    <%- include("../partials/footer")%>
    
    <%- include("../partials/scripts")%>
    
  </body>
  
  </html>