<!DOCTYPE html>
<html lang="en">

<head>
  
  <%- include("../partials/head")%>
  
</head>

<body>
  
  <%- include("../partials/header")%>    
  
  <div class="container">
    <div class="row productos">
      
      <div class="col-12">
        <h3>Listado de productos</h3>
        <br>      
        <a href="/products/newProduct"><button type="button" class="btn btn-success">Alta de Producto</button></a>
        <br>
        <br>
        <div>
          <a href="/products/categories"><button type="button" class="btn btn-success">Categorias</button></a>
          <br>
          <br>
          <a href="/products/colors"><button type="button" class="btn btn-success">Colores</button></a>
        </div>
      </div>
      
      <% for(let i = 0; i < producto.length; i++){ %>
        <section class="col-12 col-sm-6 col-md-4 col-lg-3 producto">
          <a href="/products/detailProduct/<%= producto[i].id %>">
            <article class="productContainer">
              <div class="imgProductContainer">
                <img src="images/products/<%= producto[i].image %>" class="img-thumbnail" alt="">
              </div>
              <h4> <%= producto[i].name %> </h4>
              <h5> $ <%= producto[i].price %> </h5>            
            </article>
          </a>
          <a href="/users/carrito"><button type="button" class="btn btn-outline-success btn-sm">Comprar</button></a>
        </section>               
      <% } %>
        
      </div>
    </div>

    <%- include("../partials/footer")%>
    
    <%- include("../partials/scripts")%>
    
  </body>
  
  </html>