<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("partials/head")%>
    
</head>

<body>
    
    <%- include("partials/header")%>    
    
    <div class="container">
        <h4 class="my-5">Tu carrito</h4>
        <div class="table-responsive">
            <% if( productosCarrito.length < 1 ){ %>
                <h5>Su carrito está vacío.</h5>
            <% }else{ %>

            <table class="table">
                <tr>
                    <th></th>
                    <th>Detalle</th>
                    <th>Cantidad</th>
                    <th>$</th>
                    <th></th>
                </tr>
                    <% productosCarrito.forEach(producto => { %>
                        <tr>
                            <td>
                                <img style="width: 80px; display: inline-block" src="/images/products/<%=producto.image%>" alt="">
                            </td>
                            <td>
                                <p><%=producto.name %></p>
                               
                            </td>
                            <td>
                                <%=producto.cantidad%>
                            </td>
                            <td>
                                $ <%=producto.price %>
                            </td>
                            <td>
                                <form action="">
                                    <input type="hidden" value="" name="" id="">
                                    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                    
            </table>
            <% } %>

            <p class="productsCart"> Productos : ( <%= locals.cartNumber %> ) </p>
            <div class="comprar">
                
                <a class="btn btn-success" href="/products" role="button">Seguir navegando</a>
                
                <form id='botonComprar' method="get" action="/users/compra">
                    
                    <button class="btn btn-success" type="submit">Comprar</button>
                </form>
            </div>
            
            
          
          </div> 
          
    </div>
    
    
    
    
    
    
    <%- include("./partials/footer")%>
    
    <%- include("./partials/scripts")%>
    
</body>

</html>