<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include("../partials/head")%>

    </head>

    <body>

        <%- include("../partials/header")%>
        
        <div class="container containerRegistration">
            <div class="login-container">
                
                <div class="register">

                    <h5>Crear cuenta</h5>
                    
                    
                    <form id="changePassword" action="/users/changePassword/<%= usuario.id %>?_method=PUT" method="POST">

                        <input id="oldpassword" type="password" placeholder="Contraseña Actual" class="pass form-control password1" name="oldpassword">
                        <span class="fa fa-fw fa-eye password-icon show-password"></span>                      
                        <small class="text-danger" id="errorPassword"></small>

                        <input id="newpassword" type="password" placeholder="Contraseña Nueva" class="pass form-control password1" name="newpassword">
                        <span class="fa fa-fw fa-eye password-icon show-password"></span>                      
                        <small class="text-danger" id="errorPassword"></small>

                        <input id="repassword" type="password" placeholder="Confirma contraseña" class="repass form-control password2" name="repassword">
                        <small class="text-danger" id="errorRePassword"></small>

                        <input type="submit" class="submit" value="Cambiar contrasena">
                        
                    </form>
                   
                </div>
                
            </div>
        </div>
        
        <script src="/javascripts/changePasswordOK.js"></script>

        <script src="/javascripts/mostrarPass.js"></script>

        <%- include("../partials/footer")%>
        
        <%- include("../partials/scripts")%>

        
        
    </body>

</html>