<!DOCTYPE html>
<html lang="en">

<head>
  
  <%- include("../partials/head")%>
  
</head>

<body>
  
  <%- include("../partials/header")%> 
  
  <div class="container">
    <div class="row">
      <div>

        <h5>
        ¡Felicitaciones, <%= locals.session.name %>! <br> Tu compra se realizó con exito, te enviaremos tu factura electrónica en las proximas 24hs a <%= locals.session.email %>
        </h5>

      </div>
      <div>
        <img src="/images/products/imagen-compraOK.png" alt="">      
      </div>
      
    </div>
    <a class="btn btn-success" href="/" role="button">Volver al inicio</a>

  </div>    
    




  <%- include("../partials/footer")%>
    
  <%- include("../partials/scripts")%>
  
</body>

</html>