<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include("../partials/head")%>

  </head>
  
  <body>
    
    <%- include("../partials/header")%>

    <h1>Perfil de usuario</h1>

    <div>
      <img src="/images/users/<%= usuario.image %>">
    </div>

    <h2>Nombre: <%= usuario.name %></h2>
    <h2>Apellido: <%= usuario.surname %></h2>
    <h3>Email: <%= usuario.email %></h3>
    <h3>Telefono: <%= usuario.phone %></h3>
    <h3>Rol: <%= usuario.rolDelUsuario.name %></h3>

    <br>
    <a href="/users/editUser/<%= usuario.id %>">Editar Usuario</a>
    <br>
    <a href="/users">Ir a la lista de usuarios</a>
    
    <%- include("../partials/footer")%>

    <%- include("../partials/scripts")%>

  </body>

</html>