
<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("../partials/head")%>
    
</head>

<body>
    
    <%- include("../partials/header")%>
    
    <div class="container containerRegistration">
        <div class="login-container">
            
            <div class="register">
                
                <h5>Iniciar sesión</h5>                
                
                <form action="/users/login" method="POST">               
                    
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : '' %></small>

                    <input type="text" placeholder="Correo" class="correo" name="email">                        
                    
                    <input type="password" placeholder="Contraseña" class="pass password1" name="loginPassword">
                    <span class="fa fa-fw fa-eye password-icon show-password"></span>

                    <div class="form-group form-check">
                        <input name="remember" type="checkbox" class="form-check-input" id="remember">
                        <label class="form-check-label" for="remember">Recordarme</label>
                    </div>

                    <input id='botonesLogin' type="submit" class="submit" value="INGRESAR">
                
                </form>
                
                <a id='botonesLogin' class="btn submit" href="/users/registration" role="button">¿No te registraste? Creá una cuenta nueva</a>
                
            </div>
        </div>
    </div>
    
    <script src="/javascripts/mostrarPassLogin.js"></script>

    <%- include("../partials/footer")%>
    
    <%- include("../partials/scripts")%>
    
</body>

</html>





















