<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include("../partials/head")%>

    </head>

    <body>

        <%- include("../partials/header")%>
        
        <div class="container containerRegistration">
            <div class="login-container">
                
                <div class="register">

                    <h3>Crear cuenta</h3>
                    
                    
                    <form action="/users/registration" method="POST">

                        <input type="text" placeholder="Nombre" class="nombre" name="name" value="<%= (typeof old != 'undefined' && !errors.name) ? old.name : '' %>">
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.name) ? errors.name.msg : '' %></small>

                        <input type="text" placeholder="Apellido" class="nombre" name="surname" value="<%= (typeof old != 'undefined' && !errors.surname) ? old.surname : '' %>">
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.surname) ? errors.surname.msg : '' %></small>

                        <input type="text" placeholder="Correo" class="correo" name="email" value="<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>">                        
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : '' %></small>

                        <input type="password" placeholder="Contraseña" class="pass" name="password">
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password) ? errors.password.msg : '' %></small>

                        <input type="password" placeholder="Confirma contraseña" class="repass" name="repassword">
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.repassword) ? errors.repassword.msg : '' %></small>

                        <input type="file" placeholder="Nombre" class="nombre" name="image">
                        <input type="submit" class="submit" value="REGISTRARSE">
                        <a href="/users/login">¿ya tenés cuenta?</a>

                    </form>
                </div>
            </div>
        </div>

        <%- include("../partials/footer")%>
        
        <%- include("../partials/scripts")%>
        
    </body>

</html>