<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include("../partials/head")%>

  </head>
  
  <body>
    
    <%- include("../partials/header")%>

    <div class="container">
      <div class="row">

        <h1 class="col-12">Listado de usuarios</h1>

        <% for(let i = 0; i < usuario.length; i++){ %>
          <section class="col-12 col-sm-6 col-md-4 col-lg-3">
            <article>
              <div class="imgUserContainer">
                <img src="images/users/<%= usuario[i].image %>" class="img-thumbnail" alt="">
              </div>
              <h6> ID: <%= usuario[i].id %> </h6>       
              <h6> Nombre: <%= usuario[i].name %> </h6>
              <h6> Apellido: <%= usuario[i].surname %> </h6>
              <h6> Email: <%= usuario[i].email %> </h6>
            </article>
            <article>
              <a href="/users/profile/<%= usuario[i].id %>"><button type="button" class="btn btn-outline-success btn-sm">Detalle Usuario</button></a>
            </article>
          </section>               
        <% } %>

      </div>
    </div>

    <a href="/users/carrito">Ir al carrito</a>
    <br>
    <a href="/users/registration">Registrate</a>

    <%- include("../partials/footer")%>

    <%- include("../partials/scripts")%>

  </body>

</html>